<div class="auth-container">
    <div class="auth-card">

        <div class="tabs">
            <h3>
                <a href="#" class="active" (click)="switchTab('loginTab', $event)">
                    Login
                </a>
            </h3>
            <h3>
                <a href="#" (click)="switchTab('registerTab', $event)">
                    Register
                </a>
            </h3>
        </div>

        <div class="tabs-content">

            <div id="loginTab" class="active">
                <h2>Welcome back</h2>

                <input type="text" placeholder="Username" [(ngModel)]="txtUserName">

                <input type="password" placeholder="Password" [(ngModel)]="txtPassword">

                <button (click)="logIn()">Log in</button>
            </div>

            <div id="registerTab">
                <h2>Create account</h2>

                <input type="text" placeholder="First name" [(ngModel)]="txtFirstName">
                <input type="text" placeholder="Last name" [(ngModel)]="txtLastName">
                <input type="text" placeholder="Phone number" [(ngModel)]="txtPhoneNumber">
                <input type="email" placeholder="Email" [(ngModel)]="txtEmail">
                <label>Date of birth</label>
                <input type="date" [(ngModel)]="dateOfBirth"
                    (ngModelChange)="onDateTimeChange('dateOfBirth', $event)" />
                <label>Gender</label>
                <select [(ngModel)]="gender_id">
                    <option value="0" disabled>Select gender</option>
                    <option *ngFor="let g of genders" [value]="g.id">
                        {{ g.name }}
                    </option>
                </select>
                <input type="text" placeholder="Username" [(ngModel)]="txtUsernameRegister">
                <input type="password" placeholder="Password" [(ngModel)]="txtPasswordRegister">

                <button (click)="register()">Register</button>
            </div>

        </div>
    </div>
</div>