<div class="auth-container">
    <div class="auth-card">

        <!-- Tabs header -->
        <div class="tabs">
            <h3>
                <a href="#" class="active" (click)="switchTab('loginTab', $event)">
                    Login
                </a>
            </h3>
            <h3>
                <a href="#" (click)="switchTab('registerTab', $event)">
                    Register
                </a>
            </h3>
        </div>

        <!-- Tabs content -->
        <div class="tabs-content">

            <!-- LOGIN -->
            <div id="loginTab" class="active">
                <h2>Welcome back</h2>

                <input type="text" placeholder="Username" [(ngModel)]="txtUserName">

                <input type="password" placeholder="Password" [(ngModel)]="txtPassword">

                <button (click)="logIn()">Log in</button>
            </div>

            <!-- REGISTER -->
            <div id="registerTab">
                <h2>Create account</h2>

                <input type="text" placeholder="First name" [(ngModel)]="txtFirstName">
                <input type="text" placeholder="Last name" [(ngModel)]="txtLastName">
                <input type="text" placeholder="Phone number" [(ngModel)]="txtPhoneNumber">
                <input type="email" placeholder="Email" [(ngModel)]="txtEmail">
                <input type="text" placeholder="Username" [(ngModel)]="txtUsernameRegister">
                <input type="password" placeholder="Password" [(ngModel)]="txtPasswordRegister">

                <button (click)="register()">Register</button>
            </div>

        </div>
    </div>
</div>