.results {
  padding: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  cursor: pointer;
}

.fav-div {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: auto; 
  justify-content: flex-end;
}

.fav-count {
  font-size: 14px;
  margin-right: 10px;
}

.heart-icon {
  font-size: 20px;
  line-height: 20px;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.info {
  padding: 14px;
}

.info p {
  font-size: 14px;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
