.hero {
  position: relative;
  height: 380px;
  overflow: hidden;
  border-radius: 16px;
  margin: 24px 40px;
}


.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero-content {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 2;
  max-width: 600px;
  color: white;
}

.hero-content h1,
.hero-content h2 {
  font-size: 42px;
  margin: 0 0 12px;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  opacity: 0.95;
}

.top-events {
  padding: 40px;
}

.scroll {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-snap-type: x mandatory;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.carousel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-header h2 {
  margin: 0;
  text-align: center;
  flex: 1;
}

.fav-div {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: auto; 
  justify-content: flex-end;
}

.fav-count {
  font-size: 14px;
  margin-right: 10px;
}

.heart-icon {
  font-size: 20px;
  line-height: 20px;
}

.event-card {
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  height: 100%;

  min-width: 240px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.event-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.event-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.12);
}

.event-card h3 {
  margin: 12px 16px 4px;
  font-size: 16px;
  font-weight: 600;
}

.event-card p {
  margin: 0 16px 16px;
  font-size: 14px;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about {
  display: flex;
  gap: 40px;
  padding: 60px;
  align-items: center;
}