<nav class="navbar">
  <div class="nav-left">
    <button class="menu-btn" (click)="menuOpen = !menuOpen">
      ☰
    </button>

    <a class="navbar-brand" routerLink="/">
      <img id="logo" [src]="Logo" alt="EuroRun Logo">
    </a>

    <div class="menu" *ngIf="menuOpen">
      <p routerLink="/" (click)="menuOpen = false">
        Home
      </p>

      <p *ngIf="loginInfo?.isLoggedIn && loginInfo?.authentificationToken?.userAccount?.role?.name === 'Administrator'"
        routerLink="/admin-countries-cities" (click)="menuOpen = false">
        Manage Cities
      </p>

      <p *ngIf="loginInfo?.isLoggedIn && loginInfo?.authentificationToken?.userAccount?.role?.name === 'Administrator'"
        routerLink="/admin-events" (click)="menuOpen = false">
        Manage Events
      </p>

      <p *ngIf="loginInfo?.isLoggedIn && loginInfo?.authentificationToken?.userAccount?.role?.name === 'User'"
        routerLink="/registered-events" (click)="menuOpen = false">
        My Events
      </p>
    </div>
  </div>

  <div class="nav-center">
    <div class="search">
      <input type="text" placeholder="Search events by city..." [(ngModel)]="searchCity" (keyup.enter)="search()" />
      <button (click)="search()">Search</button>
    </div>
  </div>

  <div class="nav-right">
    <p *ngIf="!loginInfo?.isLoggedIn && router.url !== '/auth'" routerLink="/auth" class="nav-link">
      Sign in
    </p>

    <p *ngIf="loginInfo?.isLoggedIn" (click)="logOut()" class="nav-link">
      Log out
    </p>
  </div>
</nav>

<router-outlet></router-outlet>